
.customOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.custom-dropdown {
    position: static;
}
  
.custom-dropdown .dropdown-menu {
    position: absolute;
}

.prediction-unplayed {
  background-color: #f8f9fa;
}

.prediction-correct {
  background-color: #d4edda;
}

.prediction-incorrect {
  background-color: #f8d7da;
}

.custom-number-input::-webkit-inner-spin-button,
.custom-number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-number-input {
  -moz-appearance: textfield;
  appearance: none;
}

.fixture-row {
  border: 1px solid #ccc;
}

.column-border {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.fixture-row .form-group {
  margin-bottom: 0;
  padding: 0;
}

.button-column {
  padding-right: 0;
  padding-left: 0;
}

