@font-face {
  font-family: 'Comfortaa';
  src: url('Comfortaa.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  background-color: #150333;
  color: white;
  font-family: 'Comfortaa', sans-serif;
}

.customOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.custom-dropdown {
    position: static;
}
  
.custom-dropdown .dropdown-menu {
    position: absolute;
}

.prediction-unplayed {
  background-color: #f8f9fa;
}

.prediction-correct {
  background-color: #118026;
}

.prediction-incorrect {
  background-color: #802C11;
}

.custom-number-input::-webkit-inner-spin-button,
.custom-number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-number-input {
  -moz-appearance: textfield;
  appearance: none;
}

.column-border {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.fixture-row .form-group {
  margin-bottom: 0;
  padding: 0;
}

.button-column {
  padding-right: 0;
  padding-left: 0;
}

.gold-bg {
  background-color: #C0C0C0 !important;
  color: black !important;
}

.gold-bg td {
  color: black !important;
}

.fixture-row{
  background-color: #30014A;
  border-width: 2px !important;
  border: solid;
  border-color: #570339;
  padding: 5px;
  border-radius: 5px;
}

.custom-nav{
  background-color: #310480;
}

.custom-footer{
  background-color: #2C1D45;
}

.custom-button{
  background-color: #412570;
  border:none;
}

.custom-button:hover{
  background-color: #8B50F2;
}

.custom-button:focus {
  background-color: #412570 !important; 
  border:none !important;
  box-shadow: none !important;
}   
.custom-button:active {background-color: #8C04D9 !important;}  
.custom-button:visited {background-color: #412570 !important;} 
.custom-button:disabled {background-color: #412570 !important;} 

.custom-nav-link{
  color: white !important;
}

.navbar-light .navbar-nav .nav-link {
  color: white !important;
}

.custom-nav-link .custom-icon {
  margin-left: 8px;
  vertical-align: middle;
}


.play-button{
  background-color: #3C700F;
  border:none;
}

.play-button:hover{
  background-color: #6EBD2B;
}

.play-button:focus {background-color: #6EBD2B !important;}   
.play-button:active {background-color: #6EBD2B !important;}  
.play-button:visited {background-color: #45701F !important;} 
.play-button:disabled {background-color: #45701F !important;} 

.custom-card{
  background-color: #310480;
}

.custom-input{
  background-color: #150333;
  color: white;
  border: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
    appearance: textfield;
}

.readonly-input {
  background-color: inherit !important;
  border: none;
  outline: none;
  cursor: default;
}
