@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css */
:root {
  --dialog-width: 90% !important;
  --dialog-max-width: 600px !important;
  --dialog-min-height: 100px !important;
  --dialog-height: auto !important;
  --dialog-max-height: 80vh !important;
  --dialog-border-radius: 1px !important;
}

.default-header {
  @apply text-xl font-semibold text-white;
}

.default-sub-header {
  @apply text-lg font-bold;
}

.times-button {
  @apply text-white text-3xl;
}

.selection-panel {
  @apply flex-1 w-full rounded-md sm:text-sm shadow-sm hover:text-BrandGray focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 flex items-center justify-center;
}

.selected-panel {
  @apply bg-OPENFPL hover:bg-OPENFPL px-3 py-2;
}

.select-panel {
  @apply bg-OPENFPLPURPLE hover:bg-OPENFPLPURPLE p-3 text-white;
}

.fg-button {
  background-color: #393a3e;
  color: white;
}

.button-hover {
  @apply bg-white text-black hover:bg-OPENFPL hover:text-BrandGray;
}

.bg-panel {
  @apply bg-panel-color w-full;
}

.bg-panel-color {
  @apply bg-BrandDarkGray rounded border-BrandGray;
}

.active-tab {
  @apply border-b border-b-BrandPositive;
}

.brand-button {
  @apply bg-BrandPurple text-white;
}

.brand-cancel-button {
  @apply bg-BrandNegative text-white;
}

.brand-button-disabled {
  @apply bg-BrandDisabled text-white;
}

.brand-dropdown {
  color: black !important;
  background-color: white !important;
  border: gray 1px thin;
  @apply rounded-sm;
}

.brand-dropdown option {
  color: black !important;
  background-color: white;
  border: gray 1px thin;
}

.brand-input {
  color: black !important;
  background-color: white !important;
  border: gray 1px thin;
  @apply rounded-sm;
}
