@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css */
:root {
  --dialog-width: 90% !important;
  --dialog-max-width: 600px !important;
  --dialog-min-height: 100px !important;
  --dialog-height: auto !important;
  --dialog-max-height: 80vh !important;
  --dialog-border-radius: 1px !important;
}

.default-header {
  @apply text-xl font-semibold text-white;
}

.default-sub-header {
  @apply text-lg font-bold;
}

.times-button {
  @apply text-white text-3xl;
}

.selection-panel {
  @apply flex-1 w-full rounded-md sm:text-sm shadow-sm hover:text-BrandGray focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 flex items-center justify-center;
}

.selected-panel {
  @apply bg-BrandPositive hover:bg-BrandPositive px-3 py-2;
}

.select-panel {
  @apply bg-BrandPurple hover:bg-BrandPurple p-3 text-white;
}

.fg-button {
  background-color: #393a3e;
  color: white;
}

.button-hover {
  @apply bg-white text-black hover:bg-BrandPositive hover:text-BrandGray;
}

.bg-panel {
  @apply bg-panel-color w-full;
}

.bg-panel-color {
  @apply bg-BrandDarkGray rounded border-BrandGray;
}

.active-tab {
  @apply border-b border-b-BrandPositive;
}

.brand-button {
  @apply bg-BrandPurple hover:bg-BrandPurpleDark disabled:opacity-50 disabled:bg-gray-300 text-white px-2 py-1 rounded;
}

.brand-cancel-button {
  @apply bg-BrandNegative text-white px-4 py-2 rounded;
}

.brand-button-disabled {
  @apply bg-BrandDisabled text-white px-4 py-2 rounded;
}

.brand-select {
  @apply bg-BrandDarkGray text-white border border-BrandDarkGray rounded-lg focus:ring focus:ring-BrandLightGray text-sm p-2;
}

.brand-input {
  @apply w-full bg-BrandDarkGray text-white border border-BrandDarkGray rounded-lg focus:ring focus:ring-BrandLightGray text-sm p-2;
}

.brand-dropdown {
  @apply text-black rounded px-2 py-1 w-full;
}

.stake-input {
  @apply text-sm w-20 p-1 text-black border rounded;
}

.dropdown-link {
  @apply block w-full text-left px-4 py-2 text-gray-800 hover:bg-gray-100;
}

.bg-info {
  @apply bg-BrandDarkGray;
}

.bg-success {
  @apply bg-BrandPositive;
}

.bg-error {
  @apply bg-BrandNegative;
}

.page-panel {
  @apply flex flex-col w-full min-h-screen pb-24 rounded-xl bg-BrandGray/90 backdrop-blur md:pb-28 lg:pb-0;
}

.page-panel-header {
  @apply px-6 py-4 text-lg font-bold;
}

.page-panel-bar-format {
  @apply flex flex-col px-4 space-y-4 lg:space-y-2;
}

.page-panel-bar-button {
  @apply flex items-center justify-between w-full px-4 py-2 text-left bg-transparent border-0 cursor-pointer md:py-3;
}

.page-panel-bar-button-title {
  @apply text-sm font-medium md:text-base;
}

.page-panel-bar-spinner {
  @apply px-4 py-2 space-y-2 text-sm bg-BrandDarkGray;
}

.page-panel-table-container {
  @apply overflow-hidden text-sm border rounded-b bg-BrandDarkGray border-BrandPurple;
}

.page-panel-table-header {
  @apply flex flex-row w-full font-bold text-black bg-white;
}

.fixture-event-panel {
  @apply flex flex-col items-center p-6 space-y-4 rounded-t-lg bg-BrandLightGray;
}

.fixture-event-panel-header {
  @apply flex items-center justify-between w-full;
}

.fixture-event-panel-header-clubs {
  @apply flex items-center justify-center flex-1 space-x-4;
}

.fixture-event-panel-header-clubs-name {
  @apply text-xl font-medium;
}

.fixture-event-panel-header-clubs-badge {
  @apply p-2 rounded-full bg-BrandGray;
}

.fixture-event-tab-panel {
  @apply flex p-4 space-x-2 overflow-x-auto border border-BrandDarkGray;
}

.fixture-event-tab-panel-button {
  @apply px-4 py-1 rounded-xl whitespace-nowrap;
}

.fixture-event-tab-panel-button-active {
  @apply text-white bg-BrandPurple;
}

.fixture-event-tab-panel-button-inactive {
  @apply text-white border bg-BrandGray border-BrandDarkGray hover:bg-BrandGray/80;
}

.fixture-event-table-header-4 {
  @apply grid grid-cols-4 font-bold text-center text-black bg-white;
}

.fixture-event-table-header-3 {
  @apply grid grid-cols-3 font-bold text-center text-black bg-white;
}
