@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css */
:root {
  --dialog-width: 90% !important;
  --dialog-max-width: 600px !important;
  --dialog-min-height: 100px !important;
  --dialog-height: auto !important;
  --dialog-max-height: 80vh !important;
  --dialog-border-radius: 1px !important;
}

.default-header {
  @apply text-xl font-semibold text-white;
}

.default-sub-header {
  @apply text-lg font-bold;
}

.times-button {
  @apply text-3xl text-white;
}

.selection-panel {
  @apply flex items-center justify-center flex-1 w-full rounded-md shadow-sm sm:text-sm hover:text-BrandGray focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
}

.selected-panel {
  @apply px-3 py-2 bg-BrandPositive hover:bg-BrandPositive;
}

.select-panel {
  @apply p-3 text-white bg-BrandPurple hover:bg-BrandPurple;
}

.fg-button {
  background-color: #393a3e;
  color: white;
}

.button-hover {
  @apply text-black bg-white hover:bg-BrandPositive hover:text-BrandGray;
}

.bg-panel {
  @apply w-full bg-panel-color;
}

.bg-panel-color {
  @apply rounded bg-BrandDarkGray border-BrandGray;
}

.active-tab {
  @apply border-b border-b-BrandPositive;
}

.brand-button {
  @apply px-2 py-1 text-white rounded bg-BrandPurple hover:bg-BrandPurpleDark disabled:opacity-50 disabled:bg-gray-300;
}

.brand-cancel-button {
  @apply p-2 text-white rounded bg-BrandNegative;
}

.brand-button-disabled {
  @apply p-2 text-white rounded bg-BrandDisabled;
}

.brand-select {
  @apply p-2 text-sm text-white border rounded-lg bg-BrandDarkGray border-BrandDarkGray focus:ring focus:ring-BrandLightGray;
}

.brand-input {
  @apply p-2 text-sm text-white border rounded-lg bg-BrandDarkGray border-BrandDarkGray focus:ring focus:ring-BrandLightGray;
}

.brand-dropdown {
  @apply text-black rounded;
}

.stake-input {
  @apply w-20 p-1 text-sm text-black border rounded;
}

.dropdown-link {
  @apply block w-full px-4 py-2 text-left text-gray-800 hover:bg-gray-100;
}

.page-panel {
  @apply flex flex-col w-full min-h-screen pb-24 rounded-xl bg-BrandGray/90 backdrop-blur md:pb-28 lg:pb-0;
}

.page-panel-header {
  @apply px-6 py-4 text-lg font-bold;
}

.page-panel-bar-format{
  @apply flex flex-col px-4 space-y-4 lg:space-y-2;
}

.page-panel-bar-button{
  @apply flex items-center justify-between w-full px-4 py-2 text-left bg-transparent border-0 cursor-pointer md:py-3;
}

.page-panel-bar-button-title{
  @apply text-sm font-medium md:text-base;
}

.page-panel-bar-spinner{
  @apply px-4 py-2 space-y-2 text-sm bg-BrandDarkGray;
}

.page-panel-table-container{
  @apply overflow-hidden text-sm border rounded-b bg-BrandDarkGray border-BrandPurple;
}

.page-panel-table-header{
  @apply flex flex-row w-full font-bold text-black bg-white;
}

.fixture-event-panel{
  @apply flex flex-col items-center p-6 space-y-4 rounded-t-lg bg-BrandLightGray;
}

.fixture-event-panel-header{
  @apply flex items-center justify-between w-full;
}

.fixture-event-panel-header-clubs{
  @apply flex items-center justify-center flex-1 space-x-4;
}

.fixture-event-panel-header-clubs-name{
  @apply text-xl font-medium;
}

.fixture-event-panel-header-clubs-badge{
  @apply p-2 rounded-full bg-BrandGray;
}

.fixture-event-tab-panel{
  @apply flex p-4 space-x-2 overflow-x-auto border border-BrandDarkGray;
}

.fixture-event-tab-panel-button{
  @apply px-4 py-1 rounded-xl whitespace-nowrap;
}

.fixture-event-tab-panel-button-active{
  @apply text-white bg-BrandPurple;
}

.fixture-event-tab-panel-button-inactive{
  @apply text-white border bg-BrandGray border-BrandDarkGray hover:bg-BrandGray/80;
}

.fixture-event-table-header-4{
  @apply grid grid-cols-4 font-bold text-center text-black bg-white;
}

.fixture-event-table-header-3{
  @apply grid grid-cols-3 font-bold text-center text-black bg-white;
}

.bg-info {
  @apply bg-BrandDarkGray;
}

.bg-success {
  @apply bg-BrandPositive;
}

.bg-error {
  @apply bg-BrandNegative;
}
